<%= @year %>年<%= @month %>月
<p>
<a href="/<%= @year - 1 %>/<%= @month %>">前年</a>
<a href="/<%= @y1 %>/<%= @m1%>">先月</a>
<a href="/">今月</a>
<a href="/<%= @y2 %>/<%= @m2 %>">来月</a>
<a href="/<%= @year + 1 %>/<%= @month %>">翌年</a>
<%= @t %>
<p>
<a href="/kanri">管理ページ</a>
